@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,385;1,385&display=swap');

html {
    background-color: #c2effa;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;


}

.container {

    position: relative;
    /* pour positionner l'outputbox à l'intérieur */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container h1 {

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.outputbox {

    position: absolute;
    top: 100%;
    /* juste en dessous du container */
    z-index: 10;




    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;

    display: none;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings:
        "wdth" 50;
}

/* .GitHub{

    position: absolute;
    
    
    outline: auto;
    display: flex;
    right: 5%;
    bottom: 5%;
    padding: 10%;
    border-radius: 2px;
    border-color: black;
    
    
} */